/* Write your CSS here */
.list-item {
  padding: 10px;
}

.button-item {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: #7b8794;
  font-family: 'Bree Serif';
  font-weight: 500;
  width: 70px;
}

.active {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
